# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# ignore all output files
out/*
target/*
build/*
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml

# SSL Keystores
*.keys

# Intellij Files
.idea/
TurboNGServer.iml

# Configuration file
src/IntegrationTesting/config.properties

# Server Credentials
ServerCredentials.txt

# Databases
db/